<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leezekee.mapper.ChiefEditorMapper">

    <insert id="addChiefEditor" useGeneratedKeys="true" keyProperty="id" parameterType="com.leezekee.pojo.ChiefEditor">
        insert into
            tb_chief_editor(
                    name,
                    password,
                    username,
                    <if test="email != null">
                        email,
                    </if>
                    <if test="telephoneNumber != null">
                        telephone_number,
                    </if>
                    <if test="age != null">
                        age,
                    </if>
                    <if test="gender != null">
                        gender,
                    </if>
                    <if test="idCardNumber != null">
                        id_card_number,
                    </if>
                    <if test="address != null">
                        address,
                    </if>
                    <if test="introduction != null">
                        introduction,
                    </if>
                    create_time,
                    update_time,
                    is_delete
                )
        values (
                #{name},
                #{password},
                #{username},
                <if test="email != null">
                    #{email},
                </if>
                <if test="telephoneNumber != null">
                    #{telephoneNumber},
                </if>
                <if test="age != null">
                    #{age},
                </if>
                <if test="gender != null">
                    #{gender},
                </if>
                <if test="idCardNumber != null">
                    #{id_card_number},
                </if>
                <if test="address != null">
                    #{address},
                </if>
                <if test="introduction != null">
                    #{introduction},
                </if>
                now(),
                now(),
                0
               )
    </insert>

    <update id="updateChiefEditor" parameterType="com.leezekee.pojo.ChiefEditor">
        update tb_chief_editor
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="telephoneNumber != null">
                telephone_number = #{telephoneNumber},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="idCardNumber != null">
                id_card_number = #{idCardNumber},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="introduction != null">
                introduction = #{introduction},
            </if>
            update_time = now()
        </set>
        where id=#{id}
    </update>

    <update id="deleteChiefEditor" parameterType="com.leezekee.pojo.ChiefEditor">
        update tb_chief_editor set is_delete=1, update_time=now() where id=#{id}
    </update>

    <select id="findChiefEditorByUsername" resultType="com.leezekee.pojo.ChiefEditor">
        select * from tb_chief_editor where username=#{username} and is_delete=0
    </select>

    <select id="findChiefEditorById" resultType="com.leezekee.pojo.ChiefEditor">
        select * from tb_chief_editor where id=#{id} and is_delete=0
    </select>
</mapper>